
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

.idea/
/.mvn/wrapper/maven-wrapper.jar
target/
/.idea/

# Other files
/swagger-coverage-output/
/swagger-coverage-*/
swagger-coverage-*
