<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="footer">

    <footer id="sticky-footer" class="footer py-3">
        <div class="container text-center">
            <div class="text-muted">
                &copy;
                <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">
                    2019
                </span>
                URL Shortener. All rights reserved.
            </div>
        </div>
    </footer>

</div>
</body>
</html>
