<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->
<head>
    <!-- Latest compiled and minified CSS -->
    <!--        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" href="css/bootstrap.min.css"/>-->
    <!--    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>-->

    <link rel="stylesheet" type="text/css" media="all"
          href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

    <link rel="icon" th:href="@{/img/favicon.ico} " href="/img/favicon.ico"/>

    <title>Simple URL Shortener</title>

</head>
<body>
<!--header.html  that's here  -->
<div th:replace="fragments/header :: header"></div>

<div layout:fragment="content"></div>
<!--footer.html  that's here  -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>