<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">

<body>

<div layout:fragment="content" class="container">

    <div class="container">
        <h1 class="text-center"> Shorty: URL Shortener</h1>
        <p class="lead text-center"> Create personalized short-links </p>

        <div class="card">
            <div class="card-header">Building a Simple URL Shortener With Spring Boot</div>
            <div class="card-body">

                <form action="#" th:action="@{/}" th:object="${originalUrlDto}" method="post">

                    <!-- https://frontbackend.com/thymeleaf/working-with-forms-in-thymeleaf -->
                    <div th:text="${message}" th:if="${message ne null}" class="alert alert-warning" role="alert">
                        A simple warning alert—check it out!
                    </div>

                    <div class="form-group row">
                        <label for="urlinput" class="col-sm-2 col-form-label">Full URL:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="urlinput" th:field="*{longUrl}"
                                   placeholder="URL" required="required">
                            <ul class="alert alert-danger" th:if="${#fields.hasErrors('longUrl')}">
                                <li th:each="error : ${#fields.errors('longUrl')}" th:text="${error}">error</li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="shorturl" class="col-sm-2 col-form-label">Short URL:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="shorturl" th:field="*{shortKey}"
                                   placeholder="Please add an (optional) name for your short link">
                        </div>
                    </div>
                    <button type="reset" class="btn btn-primary">Clear</button>
                    <button type="submit" class="btn btn-primary">Create short link</button>
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>